<div>
  <button
    class="w-12 rounded-full flex-auto bottom-0 shadow-md border-solid border-2 border-red-500 px-2 py-2 rounded hover:bg-red-500 text-white font-semibold"
    {{on "click" (fn @clicked)}}
  >
    +
  </button>
</div>